.images {
  display: flex;
  padding-left: 10%;

  .img-wrapper {
    width: 40%;
    display: flex;
    position: relative;
    .img-container {
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      padding-top: 45px;

      div {
        padding-bottom: 5px;
      }

      img {
        border: 1px solid black;
      }
    }

    .wig-container {
      width: 90%;
      height: 80vh;

      .wig-image {
        background-image: url("/assets/img/71CWkHn03cS._AC_UX679_\ \(1\).jpg");
        background-position: center;

        background-size: 100%;
        background-repeat: no-repeat;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
