.images {
  display: flex;
  padding-left: 10%;
  .img-container {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 45px;
    div {
      padding-bottom: 5px;
    }

    img {
      border: 1px solid black;
    }
  }

  .wig-container {
    width: 32%;
    height: 80vh;

    .wig-image {
      background-image: url("/assets/img/71CWkHn03cS._AC_UX679_\ \(1\).jpg");
      background-position: center;
      background-size: 610px 700px;
      background-size: 100%;
      background-repeat: no-repeat;
      height: 100%;
      object-fit: cover;
    }
  }
}

.wig-stars {
  background: url("/assets/img/3-fm1Jbg4IHlyhq (1).png") no-repeat -84px -28px;
  width: 80px;
  height: 15px;
}

.information {
  padding-left: 52px;
  padding-top: 10px;
  width: 28%;
  span {
    padding-left: 10px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: red;
    }
    p {
      padding-bottom: 6px;
      font-size: 14px;
      font-weight: 400;
    }
    hr {
      padding-top: 20px;
      color: #e7e7e7;
    }
  }

  header {
    font-size: 24px;
    font-weight: 400;
    color: #565959;
  }
  .ratings {
    display: flex;
    padding-bottom: 5px;
    a {
      padding-left: 10px;
      font-size: 14px;
      font-weight: 400;
      &:hover {
        text-decoration: underline;
        color: red;
      }
    }
  }

  .price {
    padding-top: 5px;
    p {
      font-size: 14px;
      //   display: flex;
      color: #565959;
    }
    strong {
      color: black;
    }
    span {
      font-size: 18px;
      font-weight: 400;
      color: #b12704;
    }
  }
  p {
    padding-top: 10px;
    font-size: 14px;
    color: #565959;
    line-height: 20px;
    font-weight: 200;
    strong {
      color: black;
      font-weight: 600;
    }
  }

  .size {
    padding-top: 7px;
    p {
      color: #0f1111;
    }
    strong {
      font-weight: 400;
      color: #555555;
    }
  }

  .instructions {
    display: flex;
    padding-top: 10px;
    li {
      padding-bottom: 10px;
    }
    .right-ul {
      font-size: 14px;
      line-height: 20px;
      font-weight: 200;
      color: #0f1111;
      padding-left: 10px;
    }
    .left-ul {
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: #0f1111;
    }
  }
  .about {
    padding-top: 10px;
    header {
      font-size: 16px;
      font-weight: 700;
      color: #0f1111;
    }
    ul {
      padding-top: 10px;
      font-size: 14px;
      font-weight: lighter;
      padding-left: 20px;
      li {
        list-style: disc;
        padding-bottom: 3px;
      }
    }
  }
}
