.images {
  display: flex;
  padding-left: 10%;

  .img-wrapper {
    width: 40%;
    display: flex;
    position: relative;

    .div1:hover {
      box-shadow: 0px 0px 2px 2px red;
    }
    .div2:hover {
      box-shadow: 0px 0px 2px 2px red;
    }
    .div3:hover {
      box-shadow: 0px 0px 2px 2px red;
    }

    .div1::after {
      content: "";
      position: absolute;
      width: 90%;
      height: 85vh;
      // background-color: black;
      top: 0px;
      left: 75px;
      background-image: url("/assets/img/71CWkHn03cS._AC_UX679_\ \(1\).jpg");
      background-size: 100%;
      visibility: visible;
      background-repeat: no-repeat;
    }

    .div1:hover::after {
      content: "";
      position: absolute;
      width: 90%;
      height: 85vh;
      // background-color: black;
      top: 0px;
      left: 75px;
      background-image: url("/assets/img/71CWkHn03cS._AC_UX679_\ \(1\).jpg");
      background-size: 100%;
      z-index: 1;
      visibility: visible;
    }

    .div2::after {
      content: "";
      position: absolute;
      width: 90%;
      height: 85vh;
      // background-color: black;
      top: 0px;
      left: 75px;
      background-image: url("/assets/img/715DsJdshmS._AC_UX679_.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      visibility: hidden;
    }

    .div2:hover::after {
      content: "";
      position: absolute;
      width: 90%;
      height: 85vh;
      // background-color: black;
      top: 0px;
      left: 75px;
      background-image: url("/assets/img/715DsJdshmS._AC_UX679_.jpg");
      background-size: 100%;
      visibility: visible;
    }

    .div3::after {
      content: "";
      position: absolute;
      width: 90%;
      height: 85vh;
      // background-color: black;
      top: 0px;
      left: 75px;
      background-image: url("/assets/img/71CxletOVXS._AC_UY741_.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      visibility: hidden;
    }

    .div3:hover::after {
      content: "";
      position: absolute;
      width: 90%;
      height: 85vh;
      // background-color: black;
      top: 0px;
      left: 75px;
      background-image: url("/assets/img/71CxletOVXS._AC_UY741_.jpg");
      background-size: 100%;
      visibility: visible;
    }

    .img-container {
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      padding-top: 45px;

      div {
        margin-bottom: 2px;
      }

      img {
        border: 1px solid black;
      }
    }

    .wig-container {
      width: 90%;
      height: 85vh;
      // border: 1px solid black;

      .wig-image1 {
        background-image: url("/assets/img/71CWkHn03cS._AC_UX679_\ \(1\).jpg");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 100%;
        object-fit: cover;
        // border: 1px solid black;
        margin-left: 5px;
      }
    }
  }
}
