@import "variables";
@import "fonts";

* {
  font-family: $main-font;
}

ul {
  list-style: none;
}

.nav-top {
  background: $nav-top-color;
  font-family: $main-font;
  display: flex;
  align-content: center;
  width: 100%;
  white-space: nowrap;
  min-width: 700px;

  .left-container {
    display: flex;
    .sprite-container {
      padding: 20px;
      border: 1px solid transparent;
      min-width: 40px;
      width: 45%;
      &:hover {
        border: 1px solid white;
        transition: 0.2s ease-in-out;
      }
      .sprite {
        background: url("/assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_\ \(1\).png")
          no-repeat -10px -51px;
        width: 96px;
        height: 29px;
      }
    }
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  .delivery-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 15px;
    margin-left: 20px;
    width: 55%;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid white;
      transition: 0.2s ease-in-out;
    }

    .delivery {
      color: #43494d;
      font-size: 12px;
      font-weight: 400;
    }

    .location {
      color: white;
      font-size: 14px;
      font-weight: 700;
    }
  }

  .search-container {
    width: 65%;

    .search-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 13px;
      height: 4.7vh;
      background-color: white;
      border-radius: 5px 5px 5px 5px;

      .search-button {
        text-align: center;
        height: 4.7vh;
        width: 40px;
        outline: none;
        cursor: pointer;
        border: 0px solid #111d5e;
        border-radius: 0 5px 5px 0;
        font-size: 20px;
        background-color: #f3a847;

        &:hover {
          background-color: #f09c2f;
        }
      }

      .drop-down {
        text-align: center;
        height: 4.7vh;
        width: 60px;
        outline: none;
        cursor: pointer;
        border: 0px solid #111d5e;
        border-radius: 5px 0px 0px 5px;
        border-left: none;
        font-size: 15px;
        border-right: 1px solid black;

        &:hover {
          background-color: #a0a0a0;
        }
      }
    }

    .search-input {
      width: 100%;
      border: 0px solid #111d5e;
      border-radius: 10px 0 0 10px;
      outline: none;
      font-size: 16px;
      background: none;
      padding-left: 10px;
      color: black;
    }
  }
  .right-nav-container {
    width: 20%;
    height: 100%;
    padding-top: 16px;
    padding-left: 13px;
    min-width: 400px;

    ul {
      display: flex;
      justify-content: space-between;
      color: white;
      width: 100%;
      height: 100%;
      min-width: 200px;

      .flag-container {
        display: flex;
        i {
          padding-left: 5px;
        }
      }
      li {
        border: 1px solid transparent;
        height: 100%;

        &:hover {
          border: 1px solid white;
          transition: 0.2s ease-in-out;
        }
      }

      .flag {
        background: url("/assets/img/rzrQQdi0aRm6Dap\ \(1\).png") no-repeat 0 -130px;
        width: 20px;
        height: 19px;
        margin-top: 10px;
      }
      i {
        color: #a7acb2;
      }
      .flag-i {
        margin-top: 12px;
        padding-right: 5px;
      }
      header {
        font-size: 12px;
        font-weight: 400;
      }
      div {
        font-size: 14px;
        font-weight: 700;
      }
      .last {
        display: flex;
        align-items: flex-end;
        position: relative;
        span {
          font-size: 13px;
        }
        .zero {
          position: absolute;
          left: 19px;
          top: 0px;
          color: #F07C17;
        }
        .cart {
          background: url("/assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_ (1).png")
            no-repeat -218px -337px;
          width: 41px;
          height: 28px;
        }
      }
    }
  }
}

.nav-bottom {
  //  width: 98.9%;
  background-color: $nav-bottom-color;
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  color: white;

  ul {
    display: flex;
    width: 100%;
    min-width: 400px;
    padding-left: 20px;
    padding-right: 10px;
    li {
      padding-right: 20px;
      min-width: 30px;
    }
  }
}

.orange-img {
  display: flex;
  justify-content: center;
}

.categories {
  color: #565959;
  font-size: 12px;
  font-weight: 400;
  padding-left: 12%;
  padding-top: 15px;
}
